<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django Web Marketplace{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'store/style.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <li><a class="inverted_button" href="/login">Login</a></li>
                    <li><a class="inverted_button" href="/signup">Sign Up</a></li>
                </ul>
            </nav>
        </header>
        {% block body %}
        {% endblock %}
        <footer>
            <p>&copy; 2023 My Django Web Marketplace. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>

